body {
  background-color: black;
}

.App {
  margin-top: 5em;
  background-color: white;
  width: 700px;
  height: 700px;
}

.App-header{
display: flex;
justify-content: center;
}

h3{
  color: rgb(223, 134, 134);
  font-size: 100px ;
  font-family: 'Jaldi', sans-serif; 
  font-family: 'Thasadith', sans-serif; 
  text-align: center;
}

